extends layout

block content
  h1= title
  p Welcome to #{title}

  if clinic_instance.name
    h2 Witaj #{clinic_instance.name}!

  h2
    p
      a(href='/clinic/campaign_create/' + clinic_instance._id) Utwórz kampanie

  form(method='POST' action='/users/logout')
    button.btn.btn-primary(type='submit') Wyloguj
